// Text Colors
$light-text: #FEFCFF;
$gray-text: #AEAEB2;

// Background Colors
$dark-background: #111111;
$light-background: #1C1C1C;

// Button Colors
$blue-btn: #0075FF;
$dark-btn: #242426;
$green-btn: #00FF0A;