.playButton {
    background-color: $blue-btn;
    border: 0;
    border-radius: 40px;
    padding: 5px 27px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}